<div class="col-md-6 offset-md-3">
  <h2 class="text-center mt-5">Edición de Producto</h2>
  <form class="mt-5 align-self-center" (ngSubmit)= "onSubmit()" #productoForm = "ngForm">

    <div class="form-group">
      <label>Nombre : </label>
      <input type = "text"
        class="form-control"
        id = "nombre"
        [(ngModel)] = "producto.nombre"
        name = "nombre"
        required
        maxlength="100"
        placeholder="Digite nombre del producto"
        #nombre = "ngModel">
        <div class="alert alert-danger" *ngIf= "nombre.invalid">
        <div *ngIf = "nombre.errors['required']">
          EL nombre no puede estar vacio
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Valor unitario : </label>
      <input type = "text"
        class="form-control"
        id = "valorUnitario"
        [(ngModel)] = "producto.valorUnitario"
        name = "valorUnitario"
        required
        maxlength="100"
        placeholder="Digite el valor unitario"
        #valorUnitario = "ngModel">
        <div class="alert alert-danger" *ngIf= "valorUnitario.invalid">
        <div *ngIf = "valorUnitario.errors['required']">
          El valor unitario no puede estar vacio
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Estado: </label>
      <select class="form-control"
      id="estado"
      [(ngModel)] = "producto.estado"
      name = "estado"
      required
      #estado = "ngModel">
        <option>disponible</option>
        <option>agotado</option>
      </select>
    </div>

    <button class="btn btn-success mt-5" [disabled]= "!productoForm.form.valid">Guardar</button>
  </form>
</div>
